# others
dist\data.json
data.json
ignr/
test/
future/

# spec file
*.spec

# PyInstaller build directories
build/

# PyInstaller log and temporary files
*.log
*.tmp

# PyInstaller output and cache
__pycache__/

